@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

$textcolor1: rgb(205, 206, 210);
$btncolor1: #f6c93b;
.mainWrapper{
    font-family: 'Roboto',sans-serif;
    .navbar{

        .btn{
            color: $btncolor1;
            background-color: transparent;
            background-image: none;
            border-color: $btncolor1;
            border-radius: 30px;
            transition: 0.5s;
            &:hover,&:active{
                background-color: $btncolor1;
                color: white;
                -webkit-box-shadow: 0px 0px 15px 0px rgba(246,201,59,1);
                -moz-box-shadow: 0px 0px 15px 0px rgba(246,201,59,1);
                box-shadow: 0px 0px 15px 0px rgba(246,201,59,1);
                transition: 0.5s;
            }
        }
    }
    .searchPanel{
        background-color: #e9ecef;
        padding: 10px 20px;
        border-radius: 10px;
    }
}

// Buttons

.btn-yellow{
    color: white;
    background-color: $btncolor1;
    background-image: none;
    border-color: $btncolor1;
    border-radius: 30px;
    transition: 0.5s;
    &:hover,&:active{
        color: white;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(246,201,59,1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(246,201,59,1);
        box-shadow: 0px 0px 15px 0px rgba(246,201,59,1);
        transition: 0.5s;
    }
}